<!DOCTYPE html>
<html>
<head>
    <!-- Templaattisivu jossa on view -->
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% list.forEach(function(i) { %>
            <li>
                <%= i.name %> - <%= i.email %>
            </li>
        <% }); %>
    </ul>
</body>
</html>